@import url("https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap");

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github-button {
  background-color: #36c8a3;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
.github-button:hover {
  opacity: 1;
}

a {
  text-decoration-line: none;
}
