/* -----------------------------------------
--------------------------------------------
                   PAGES
--------------------------------------------
----------------------------------------- */

/* -----------------------------------------
                  Landing
----------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap');

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
}

.welcome-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 5.5rem;
  position: relative;
  font-family: 'Rajdhani', sans-serif;
}

.welcome-button-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  width: 200px;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.welcome-button-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  z-index: 2;
  right: 5.5vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.text-black{
  color: black;
}

.about-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.about-button-animation-appear {
  height: 15vh;
}

.about-button-animation-appear.about-button-animation-appear-active {
  height: 10vh;
  transition: height 500ms ease-in;
}

.splash-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url("./assets/img/splash-background.jpg");
  background-size: cover;
}

.splash-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #708090;
  color: white;
  height: 100vh;
}

.welcome-message > span {
  margin: 0 10px;
}

.brand-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.brand-name > span {
  margin: 0 5px;
}

.splash-logo {
  width: 70px;
}

.about-info-container {
  display: flex;
  width: inherit;
  padding: 0 30vw;
  font-size: 1.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 75px 20vw 0 20vw;
  line-height: 1.6em;
}

.about-info-container > div {
  font-size: 2.1rem;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
}

.splash-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 150px;
  font-size: 4em;
  padding-top: 40px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  padding-top: 30px;
}

.team-cards-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 25px;
  font-family: 'Rajdhani', sans-serif;
}

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: max-content;
  padding: 80px 30px 0px 30px;
  background: white;
}

.faq-continer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faq-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  justify-content: space-around;
  /* margin: 20px; */
  padding: 100px 20px;
  font-family: 'Rajdhani', sans-serif;
}

.faq-info-r {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  justify-content: space-around;
  /* margin: 20px; */
  padding: 100px 20px;
  font-family: 'Rajdhani', sans-serif;
}

.faq-text {
  word-wrap: normal;
  width: 56%;
  padding: 2%;
  font-size: 1.5em;
  color: #708090;
}

.faq-image {
  width: 40%;
}

.faq-image img {
  width: 100%;
}

/* -----------------------------------------
              Landing/TeamCard
----------------------------------------- */

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 10px;
  width: 90px;
}

.profile-image {
  width: 50px;
  border-radius: 100px;
}

/* -----------------------------------------
                  Profile
----------------------------------------- */

.profile-container {
  padding: 0 8%;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Rajdhani", sans-serif;
}

.row {
  display: flex;
}

.col-50 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.col-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mytasks-wrapper,
.projectlist-wrapper,
.projectcard-wrapper {
  font-family: "Rajdhani", sans-serif;
  padding: 20px 50px;
}

.projectlist-wrapper {
  padding-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-50 {
    width: 600px;
  }
}

/* -----------------------------------------
                  Project
----------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #f7f7f7;
}

h1 {
  margin: 0;
  font-weight: 300;
}

button {
  font-family: 'PT Sans Narrow', sans-serif;
  border: none;
  background-color: none;
}

button:focus {
  outline: none;
}

.project-container {
  padding: 15px 8%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.col-50 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.col-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.status-buttons {
  display: flex;
}

.tasklist-wrapper,
.sprintlist-wrapper,
.projectcard-wrapper {
  padding: 20px 50px;
}

.sprintlist-wrapper {
  padding-bottom: 40px;
}

.modal-backdrop {
  position: fixed;
  background-color:rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 10;
  font-family: 'Rajdhani', sans-serif;
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-50 {
    width: 600px;
  }
} 

/* -----------------------------------------
--------------------------------------------
                 COMPONENTS
--------------------------------------------
----------------------------------------- */

/* -----------------------------------------
               AddSprintModal
----------------------------------------- */

.addsprint-modal {
  width: 600px;
  background: #f5f5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 200px auto 0;
  padding: 40px;
  border-radius: 5px;
}

/* -----------------------------------------
                   Auth
----------------------------------------- */

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github-button {
  background-color: #36c8a3;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.github-button:hover {
  opacity: 1;
}

a {
  text-decoration-line: none;
}

/* -----------------------------------------
               CreateProject
----------------------------------------- */

.create-project-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0);
}

.create-project-content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  top: 100px;
  margin: auto;
  z-index: 1000;
  width: 30vw;
  min-width: 320px;
  border-radius: 5px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.project-input-container {
  margin-bottom: 30px;
}

.add-project-title-input {
  width: 97%;
  padding: 5px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.add-project-button {
  display: flex;
  float: right;
  align-self: flex-end;
  margin-top: 20px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color:#36c8a3;
  color: white;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.input-title {
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.error-message {
  color: red;
}

.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.modal-appear {
  opacity: 0.01;
}

.modal-appear.modal-appear-active {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

/* -----------------------------------------
           CreateProject/AddedUsers
----------------------------------------- */

.added-contributor-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.added-contributor-container {
  display: flex;
  justify-items: center;
  align-content: space-between;
  padding: 2px;
  padding-left: 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: inherit;
  cursor: default;
  margin: 2px;
}

.added-contributor-container span {
  margin-left: 5px;
  margin-right: 10px;
}
.remove-contributor-button {
  padding: 4px;
  padding-left: 0px;
  padding-bottom: 0px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}


/* -----------------------------------------
         CreateProject/SearchUsers
----------------------------------------- */

.search-contributors-input {
  width: 97%;
  padding: 5px;
  font-size: 1.2rem;
  margin-bottom: 2px;
  margin-top: 5px;
}

/* -----------------------------------------
     CreateProject/SearchUsers/FuzzyList
----------------------------------------- */

.fuzzy-user {
  cursor: pointer;
  background-color: white;
  padding: 5px;
}

.fuzzy-user:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.fuzzy-invite {
  cursor: pointer;
  background-color: #36c8a3;
  padding: 5px;
}

.fuzzy-list-container {
  position: fixed;
  z-index: 2000;
  width: 21vw;
  min-width: 200px;
}

.fuzzy-list-container :last-child {
  border-radius: 0px 0px 5px 5px;
}

/* -----------------------------------------
                 MyTasks
----------------------------------------- */

h1 {
  margin: 0;
  font-weight: 300;
}

.my-tasks-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 73vh;
  padding: 20px 50px;
}

@media (max-width: 768px) {
  .my-tasks-container {
    width: inherit;
    min-width: unset;
  }
}

/* -----------------------------------------
           MyTasks/MyProjectPicker
----------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap");

.project-picker-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-picker-container div {
  margin-right: 10px;
}

.project-button {
  background: none;
  margin: 2px 7px;
  border-radius: 8px;
}

.project-button.active > button {
  color: #f5f5f5;
}

.active#ALL {
  background-color: #d593e8;
}

.active {
  background-color: #46a1fd;
}

/* -----------------------------------------
             MyTasks/MyTasksList
----------------------------------------- */

.my-task-list-container {
  height: 100%;
  padding: 10px;
  margin-top: 10px;
  overflow: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.my-task-list-container::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
  height: 0px;
}

.my-task-list-item {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 0.3em;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.task-upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.task-lower {
  display: flex;
  align-items: center;
}

/* -----------------------------------------
          MyTasks/MyTaskStatusPicker
----------------------------------------- */

.status-picker-container {
  display: flex;
  flex-direction: row;
}

.status-picker-container div {
  margin-right: 10px;
}

.button-bg {
  background: none;
  margin: 7px;
  border-radius: 8px;
}

.button-bg.active > button {
  color: #f5f5f5;
}

.active#all-tasks {
  background-color: #d593e8;
}

.active#open-tasks {
  /* background-color: #36C8A3; */
  background-color: #36c8a3;
}

.active#in-progress-tasks {
  background-color: #46a1fd;
}

.active#done-tasks {
  background-color: #fd9e3c;
}

/* -----------------------------------------
                   NavBar
----------------------------------------- */

.nav-bar {
  padding-top: 20px;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.4rem;
}

.nav-item :first-child {
  margin-right: 8px;
}

/* -----------------------------------------
ProfileCard
----------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap");

.profile-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  display: flex;
  position: absolute;
  padding-top: 30px;
  top: 60px;
  right: 2vw;
  z-index: 10000;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: #c5ced8;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-item {
  margin: 5px;
}

.username {
  color: #4d4d4d;
  cursor: default;
}

.logout-button {
  cursor: pointer;
}

.logout-button:hover {
  font-weight: bolder;
}

.avatar {
  width: 60px;
  border-radius: 5vh;
}

@media (max-width: 768px) {
  .profile-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: unset;
    width: unset;
  }

  .avatar {
    width: 100px;
    border-radius: 150px;
    margin: 20px;
  }
}

#OPEN {
  background-color: #36C8A3;
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  margin: 7px;
  border-radius: 8px;
}
#IN_PROGRESS {
  background-color: #46A1FD;
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  margin: 7px;
  border-radius: 8px;
}
#DONE {
  background-color: #FD9E3C;
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

/* -----------------------------------------
                ProjectCard
----------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap");

.profile-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  display: flex;
  position: absolute;
  padding-top: 30px;
  top: 60px;
  right: 2vw;
  z-index: 10000;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: #c5ced8;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-item {
  margin: 5px;
}

.username {
  color: #4d4d4d;
  cursor: default;
}

.logout-button {
  cursor: pointer;
}

.logout-button:hover {
  font-weight: bolder;
}

.avatar {
  width: 60px;
  border-radius: 5vh;
}

@media (max-width: 768px) {
  .profile-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: unset;
    width: unset;
  }

  .avatar {
    width: 100px;
    border-radius: 150px;
    margin: 20px;
  }
}

#OPEN {
  background-color: #36C8A3;
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

#IN_PROGRESS {
  background-color: #46A1FD;
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

#DONE {
  background-color: #FD9E3C;
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

/* -----------------------------------------
                ProjectList
----------------------------------------- */

h1 {
  margin: 0;
  font-weight: 300;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  border-radius: 5px;
  padding: 20px 50px;
}

.project-list-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  /* border: 1px solid grey; */
  overflow: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 5px;
  max-height: 66vh;
}

.project-list::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
  height: 0px;
}

.create-project-button {
  text-align: center;
  width: 20px;
  height: 20px;
  background: #36c8a3;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .project-list-container {
    width: 100%;
  }
}

/* -----------------------------------------
               ProjectListItem
----------------------------------------- */

.project-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #c5ced8;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 8px;
  margin-left: -1px;
  color: black;
  padding: 20px;
}

.project-list-item:hover {
  background-color: #708090;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.created-by {
  font-size: 0.8rem;
}

/* -----------------------------------------
                 SprintList
----------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap');

.sprintlist-wrapper {
  font-family: 'Rajdhani', sans-serif;
}

.sprintlist-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sprintlist {
  max-height: 600px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sprintlist::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sprintlist-header {
  display: flex;
  align-items: center
}

.sprint-item{
  display: flex;
  flex-direction: column;
  background-color: #c5ced8;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 8px;
  margin-left: -1px;
  padding: 20px;
}

.sprint-item.active {
  background-color: #708090;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.sprint-header {
  display: flex;
  justify-content: space-between;
}

.sprint-name {
  font-weight: bolder;
  max-width: 80%;
  overflow-wrap: break-word;
}

.sprint-date {
  font-style: italic;
  flex: 1;
}

.expand-btn {
  position: relative;
}

img.options-icon {
  visibility: hidden;
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  cursor: pointer;
  padding: 8px 2px;
}

.sprint-item:hover img.options-icon {
  visibility: visible;
}

.sprint-body {
  display: flex;
  justify-content: space-between;
}

#open {
  background-color: #36C8A3;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  margin-left: -1px;
  border-radius: 8px;
}

#in-progress {
  background-color: #46A1FD;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

#done {
  background-color: #FD9E3C;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

#closed {
  background-color: #FF5F58;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

/* -----------------------------------------
          SprintList/AddSprintButton
----------------------------------------- */

#add-sprint {
  text-align: center;
  width: 20px;
  height: 20px;
  background: #36C8A3;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 15px;
}

/* -----------------------------------------
                 SprintModal
----------------------------------------- */

.sprint-modal {
  width: 600px;
  background: #f5f5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 200px auto 0;
  padding: 40px;
  border-radius: 5px;
}

/* -----------------------------------------
               StatusDropdown
----------------------------------------- */

.selected-status {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.selected-status:hover .options-wrapper {
  visibility: visible;
}

.selected-status:hover {
  background-color: slategray;
  color: white;
}

.status:hover {
  font-style: italic;
}

.options-wrapper {
  word-wrap: normal;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 8px 2px;
  border-radius: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 90px;
  padding: 5px;
  border-radius: 5px;
  background-color: slategray;
  color: white;
}

/* -----------------------------------------
              TaskListSelector
----------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap');

.tasklist-wrapper {
  font-family: 'Rajdhani', sans-serif;
}

.tasklist-header {
  display: flex;
  align-items: center
}

/*
Button for creating/adding a task
*/

#add-task {
  text-align: center;
  width: 20px;
  height: 20px;
  background: #36C8A3;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 15px;
}

/*
Buttons for selecting the status of tasks to show
*/

button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  background: none;
}

.button-bg {
  background: none;
  margin: 7px;
  border-radius: 8px;
}

.button-bg.active > button{
  color: #f5f5f5;
}

.active#all-tasks{
  background-color: #D593E8;
}

.active#open-tasks {
  /* background-color: #36C8A3; */
  background-color: #36c8a3;
}

.active#in-progress-tasks{
  background-color: #46A1FD;
}

.active#done-tasks {
  background-color: #FD9E3C;
}

/* -----------------------------------------
                  TaskList
----------------------------------------- */

.sm-avatar {
  width: 30px;
  border-radius: 100%;
}

.task-container {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 0.3em;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.task-container:hover {
  background: #ebebeb;
  cursor: pointer;
}

.task-upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.task-lower {
  display: flex;
  align-items: center;
}

.unassigned-avatar {
  width: 30px;
}

.task-description {
  flex: 1;
  margin: 0;
}

.task-name {
  font-weight: bolder;
}

/* -----------------------------------------
                  TaskModal
----------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap');

.task-modal {
  width: 600px;
  background: #f5f5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 200px auto 0;
  padding: 40px;
  border-radius: 5px;
}

.task-input {
  display: flex;
  flex-direction: column;
}

.team-member-item {
  display: flex;
  align-items: center;
  padding: 3px 0;
  border-radius: 8px;
  width: min-content;
}

.assignee-header {
  display: flex;
  align-items: center;
}

.task-button-container {
  display: flex;
  justify-content: flex-end;
}

.team-member-list {
  display: flex;
  overflow: scroll;
  padding: 5px 0;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
.team-member-list::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

.team-member-name {
  padding: 0 8px;
  cursor: default;
}

.avatar-sm,
.assignee-avatar {
  width: 40px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
}

.assignee-avatar {
  padding: 0 20px;
}

.avatar-sm:hover {
  border: 1px solid #36C8A3;
  cursor: pointer;
}

button.task-button,
button.task-btn-dlt {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 8px;
}

button.task-button:hover {
  background: #36C8A3;
  color: #f5f5f5;
  cursor:pointer;
}

button.task-btn-dlt:hover {
  background: #d84733;
  color: #f5f5f5;
  cursor: pointer;
}

.assignee-container {
  display: flex;
  flex-direction: column;
}

.status-header {
  display: flex;
  align-items: center;
}

#current-status {
  padding: 0 20px;
}

