.mytasks-content {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mytasks-content::-webkit-scrollbar {
  width: 0px;
  height: 0px;
} 

.task-item.profile:hover {
  background: #fff;
}