@import url('https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap');

/* 
font-family: 'Overpass', sans-serif;

font-family: 'PT Sans Narrow', sans-serif;

font-family: 'Rajdhani', sans-serif;
*/

.tasklist-wrapper {
  font-family: 'Rajdhani', sans-serif;
}

#all-tasks{
  background-color: #D593E8;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  margin-left: -1px;
  border-radius: 8px;
}

#open-tasks {
  background-color: #3EE1A7;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

#in-progress-tasks{
  background-color: #46A1FD;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

#done-tasks {
  background-color: #FD9E3C;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}