/* .create-project-content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  top: 100px;
  margin: auto;
  z-index: 1000;
  width: 30vw;
  min-width: 320px;
  border-radius: 5px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
} */

/* .modal.project-modal {
  width: 30vw;
  min-width: 320px;
} */

/* .project-input-container {
  margin-bottom: 30px;
} */
::placeholder {
  color: #AAAAAA;
}

.add-project-title-input {
  width: 97%;
  padding: 5px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.add-project-button {
  display: flex;
  float: right;
  align-self: flex-end;
  margin-top: 20px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color:#36c8a3;
  color: white;
}

.error-message {
  color: red;
}

.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.modal-appear {
  opacity: 0.01;
}

.modal-appear.modal-appear-active {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
