h1 {
  margin: 0;
  font-weight: 300;
}

.my-tasks-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 73vh;
  padding: 20px 50px;
}

@media (max-width: 768px) {
  .my-tasks-container {
    width: inherit;
    min-width: unset;
  }
}
