@import url("https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap");

/* 
font-family: 'Overpass', sans-serif;

font-family: 'PT Sans Narrow', sans-serif;

font-family: 'Rajdhani', sans-serif;
*/

.project-picker-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-picker-container div {
  margin-top: 10px;
  margin-right: 10px;
}

.project-button {
  background: none;
  margin: 7px;
  border-radius: 8px;
}

.project-button.active > button {
  color: #f5f5f5;
}

.active#ALL {
  background-color: #D593E8;
}

.active {
  background-color: #46A1FD;
}
