.fuzzy-user {
  cursor: pointer;
  background-color: #c5ced8;
  padding: 5px;
  color: #708090;
}

.fuzzy-user:hover {
  background-color: #a4b1bd;
  color: #eff1f4;
  cursor: pointer;
}

.fuzzy-invite {
  cursor: pointer;
  background-color: #36c8a3;
  padding: 5px;
}

.fuzzy-list-container {
  position: fixed;
  z-index: 2000;
  width: 21vw;
  min-width: 200px;
}

.fuzzy-list-container :last-child {
  border-radius: 0px 0px 5px 5px;
}
