.profile-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 60vh;
  width: 60vh;
  box-shadow: 0 0 3px #c7c7c7;
}

.avatar {
  width: 40vh;
  border-radius: 40vh;
  margin: 20px;
}

@media (max-width: 768px) {
  .profile-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    height: unset;
    width: unset;
  }

  .avatar {
    width: 100px;
    border-radius: 150px;
    margin: 20px;
  }
}

#OPEN {
  background-color: rgb(84, 225, 84);
}
#IN_PROGRESS {
  background-color: dodgerblue;
}
#DONE {
  background-color: orange;
}
