.profile-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 600px;
  width: 600px;
}

.avatar {
  width: 300px;
  border-radius: 150px;
  margin: 20px;
}
