.profile-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 600px;
  width: 600px;
}

.avatar {
  width: 300px;
  border-radius: 150px;
  margin: 20px;
}

@media (max-width: 768px) {
  .profile-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    height: unset;
    width: unset;
  }

  .avatar {
    width: 100px;
    border-radius: 150px;
    margin: 20px;
  }
}


#OPEN {
  background-color: rgb(84, 225, 84);
}
#IN_PROGRESS {
  background-color: dodgerblue;
}
#DONE {
  background-color: orange;
}