@import url("https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap");
/* 
font-family: 'Overpass', sans-serif;

font-family: 'PT Sans Narrow', sans-serif;

font-family: 'Rajdhani', sans-serif;
*/

.project-list-container {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 70vh;
  box-shadow: 0 0 3px #c7c7c7;
}

.project-list {
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-items: flex-start;
  /* border: 1px solid grey; */
  overflow: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.project-list::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
  height: 0px;
}

.create-project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  background-color: lightgreen;
  border-radius: 5px;
  font-size: 3em;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.project-list div {
  margin: 10px;
  word-wrap: break-word;
  hyphens: auto;
  margin-left: 11px;
  margin-right: 0px;
}

@media (max-width: 768px) {
  .project-list-container {
    width: 100%;
  }
}
