h1 {
  margin: 0;
  font-weight: 300;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  border-radius: 5px;
  padding: 20px 50px;
}

.project-list-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  /* border: 1px solid grey; */
  overflow: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 5px;
  max-height: 66vh;
}

.project-list::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
  height: 0px;
}

.create-project-button {
  text-align: center;
  width: 20px;
  height: 20px;
  background: #36c8a3;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .project-list-container {
    width: 100%;
  }
}
