@import url("https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap");
/* 
font-family: 'Overpass', sans-serif;

font-family: 'PT Sans Narrow', sans-serif;

font-family: 'Rajdhani', sans-serif;
*/

.project-list-container {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  border-radius: 5px;
  width: 100%;
  min-width: 500px;
}

.project-list-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project-list {
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  /* border: 1px solid grey; */
  overflow: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 5px;
  max-height: 80vh;
}

.project-list::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
  height: 0px;
}

.create-project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: lightgreen;
  border-radius: 5px;
  font-size: 1em;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.project-list div {
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  hyphens: auto;
}

@media (max-width: 768px) {
  .project-list-container {
    width: 100%;
  }
}
