.sprint-item {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #c5ced8;
}

.sprint-item.active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: #708090;
  color: white;
}

.sprint-item:hover img.options-icon {
  visibility: visible;
}

.sprint-header {
  display: flex;
  justify-content: space-between;
}

.sprint-name {
  font-weight: bolder;
  max-width: 80%;
  overflow-wrap: break-word;
}

.expand-btn {
  position: relative;
}

img.options-icon {
  visibility: hidden;
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  cursor: pointer;
  padding: 8px 2px;
}

.sprint-content {
  display: flex;
}

.sprint-date {
  font-style: italic;
  flex: 1;
}