@import url('https://fonts.googleapis.com/css?family=Overpass|PT+Sans+Narrow|Rajdhani&display=swap');
/* 
font-family: 'Overpass', sans-serif;

font-family: 'PT Sans Narrow', sans-serif;

font-family: 'Rajdhani', sans-serif;
*/

.sprintlist-wrapper {
  font-family: 'Rajdhani', sans-serif;
  max-height: 600px;
  overflow: scroll;
  scrollbar-width: none;
}

.sprintlist-header {
  display: flex;
  align-items: center
}

.sprint-item{
  display: flex;
  flex-direction: column;
  background-color: #c5ced8;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 8px;
  margin-left: -1px;
  padding: 20px;
}

.sprint-item.active {
  background-color: #708090;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.sprint-header {
  display: flex;
  justify-content: space-between;
}

.sprint-name {
  font-weight: bolder;
  max-width: 80%;
  overflow-wrap: break-word;
}

.sprint-date {
  font-style: italic;
  flex: 1;
}

.expand-btn {
  position: relative;
}

img.options-icon {
  visibility: hidden;
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  cursor: pointer;
  padding: 8px 2px;
}

.sprint-item:hover img.options-icon {
  visibility: visible;
}

.sprint-body {
  display: flex;
  justify-content: space-between;
}



#open {
  background-color: #36C8A3;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  margin-left: -1px;
  border-radius: 8px;
}

#in-progress {
  background-color: #46A1FD;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}
#done {
  background-color: #FD9E3C;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

#closed {
  background-color: #FF5F58;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin: 7px;
  border-radius: 8px;
}

