.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 10px;
  --max-size: 7.5;
  --min-size: 6;
  width: var(--responsive);
}

.profile-image {
  --max-size: 3.8;
  --min-size: 2;
  width: var(--responsive);
  border-radius: 100px;
}
