.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
}

.welcome-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  --max-size: 5.5;
  --min-size: 2.5;
  font-size: var(--responsive);
  position: relative;
  font-family: 'Rajdhani', sans-serif;
}

.welcome-button-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  width: 200px;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.welcome-button-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  z-index: 2;
  right: 5.5vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.text-black{
  color: black;
}

.about-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.about-button-animation-appear {
  height: 15vh;
}

.about-button-animation-appear.about-button-animation-appear-active {
  height: 10vh;
  transition: height 500ms ease-in;
}

.splash-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url("../../assets/img/splash-background.jpg");
  background-size: cover;
}

.splash-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #708090;
  color: white;
  height: 100vh;
}

.welcome-message > span {
  margin: 0 10px;
}

.brand-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.brand-name > span {
  margin: 0 5px;
}

.splash-logo {
  width: 70px;
}

.about-info-container {
  display: flex;
  width: inherit;
  padding: 0 30vw;
  --max-size: 1.8;
  --min-size: 1.4;
  font-size: var(--responsive);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 75px 20vw 0 20vw;
  --max-height: 3;
  --min-height: 2;
  line-height: var(--responsive-height);
}

.about-info-container > div {
  --max-size: 2.1;
  --min-size: 1.7;
  font-size: var(--responsive);
  padding-top: 3vw;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
}

.splash-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  --max-size: 4;
  --min-size: 2;
  font-size: var(--responsive);
  padding-top: 40px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  padding-top: 30px;
}

.team-cards-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 25px;
  font-family: 'Rajdhani', sans-serif;
}

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: max-content;
  padding: 80px 30px 0px 30px;
  background: white;
}

.faq-continer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faq-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 100px 20px;
  font-family: 'Rajdhani', sans-serif;
}

.faq-info-r {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  justify-content: space-around;
  padding: 100px 20px;
  font-family: 'Rajdhani', sans-serif;
}

.faq-text {
  word-wrap: normal;
  width: 56%;
  padding: 2%;
  font-size: 1.5em;
  color: #708090;
}

.faq-image {
  width: 40%;
}

.faq-image img {
  width: 100%;
}

@media screen and (max-width: 420px) {
  .splash-welcome {
    justify-content: unset;
  }

  .welcome-message {
    padding-top: 8rem;
  }

  .about-button {
    bottom: 7rem;
  }

  .about-info-container {
    padding: 1rem;
  }

  .faq-info {
    flex-direction: column-reverse;
  }
  
  .faq-info-r {
    flex-direction: column;
  }
  
  .faq-image {
    width: 100%;
  }

  .faq-text {
    text-align: center;
    width: unset;
    padding-bottom: 1rem;
  }

  .faq-info,
  .faq-info-r {
    padding: 3rem 1.2rem;
  }
}