.profile-container {
  padding: 0 8%;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Rajdhani", sans-serif;
}

.row {
  display: flex;
}

.col-50 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.col-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mytasks-wrapper,
.projectlist-wrapper,
.projectcard-wrapper {
  font-family: "Rajdhani", sans-serif;
  padding: 20px 50px;
}

.projectlist-wrapper {
  padding-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-50 {
    width: 600px;
  }
}
