.profile-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.profile-right-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 600px;
  margin: 40px;
}
