@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1 {
  margin: 0;
  font-weight: 300;
}

button {
  font-family: 'PT Sans Narrow', sans-serif;
  border: none;
  background-color: none;
}

button:focus {
  outline: none;
}

.project-container {
  padding: 15px;
  display: flex;
  height: 100vh;
}

.col {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.status-buttons {
  display: flex;
}

.tasklist-wrapper,
.sprintlist-wrapper,
.projectcard-wrapper {
  padding: 50px;
}

.modal-backdrop {
  position: fixed;
  background-color:rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 10;
  font-family: 'Rajdhani', sans-serif;
}