.project-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #c5ced8;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 8px;
  margin-left: -1px;
  color: black;
  padding: 20px;
}

.project-list-item:hover {
  background-color: #708090;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.created-by {
  font-size: 0.8rem;
}
