.modal-backdrop {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 10;
}

.assignee-modal {
  width: 600px;
  background: #e5e5e5;
  box-shadow: 0 0 12px #cfcfcf;
  margin: 200px auto 0;
  padding: 40px;
}

.assignee-input {
  display: flex;
  flex-direction: column;
}