@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1 {
  margin: 0;
}

button {
  border: none;
  background-color: inherit;
}