.nav-bar {
  padding-top: 20px;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav-item :first-child {
  margin-right: 8px;
}
